export CC=/usr/bin/clang
export CXX=/usr/bin/clang++

_nproc=$(nproc)

export CMAKE_EXPORT_COMPILE_COMMANDS=ON
export CMAKE_GENERATOR=Ninja
export CMAKE_BUILD_PARALLEL_LEVEL=16
export CMAKE_C_COMPILER_LAUNCHER=ccache
export CMAKE_CXX_COMPILER_LAUNCHER=ccache
export CMAKE_BUILD_TYPE=RelWithDebInfo

_ch_root=$(git root)
export CLICKHOUSE_TESTS_BASE_CONFIG_DIR="$_ch_root"/programs/server
export CLICKHOUSE_TESTS_SERVER_BIN_PATH="$_ch_root"/build/programs/clickhouse
export CLICKHOUSE_TESTS_ODBC_BRIDGE_BIN_PATH="$_ch_root"/build/programs/clickhouse-odbc-bridge
